@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3a3a3a;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #707070;
    --white: #dddddd
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  color: var(--white);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
